.block {
  width: 100vw;
  max-width: 1000px;
}
.cross-line {
  width: 100%;
  height: 1px;
  background-color: rgba(218, 218, 218, 1);
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--roboto-family);
  font-style: normal;
  line-height: 24px;
}
.button {
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.description-block {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--martel-family);
  font-style: normal;
  color: rgba(24, 24, 24, 1);
  line-height: 22.4px;
}
.description-block ul {
  margin: 0;
}

@media (max-width: 1040px) {
  .block {
    width: calc(100vw - 40px);
  }
}

@media (max-width: 768px) {
  .block {
    width: calc(100vw - 40px);
  }
  .cross-line {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 18px;
    line-height: 18px;
  }
  .description-block {
    margin-top: 20px;
    font-size: 14px;
    line-height: 19.6px;
  }
}
